.starRating svg{
fill: orange;
}
.authorOfReview {
    margin: 0;
}
.oneReviewBlock {
    margin-bottom: 30px;

}
.dateOfReview {
    opacity: 0.4;
    font-size: 0.8em;
}

.textOfReview {
    opacity: 0.8;
    font-size: 0.9em;
}
.authorAndAvatarOfReview svg{
    margin-right: 8px;
}
.authorAndAvatarOfReview {
    display: flex;
    
    align-items: center;
}

.avatarOfAutorReview {
    width: 35px;
   height: auto;
   margin: 0;
    
    
    
}

.blockAvatarOfAutorReview {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 200px;
    display: flex;
    margin-right: 8px;
}