.starRating svg{
fill: orange;
}
.authorOfReview {
    margin: 0;
}
.oneReviewBlock {
    /* margin-bottom: 30px; */
    background-color: #4194940e;
    padding: 20px;
    border-radius: 0.6em;
}
.dateOfReview {
    opacity: 0.4;
    font-size: 0.8em;

   
}

.textOfReview {
    opacity: 0.8;
    font-size: 0.9em;
    margin-bottom: 0;
}
.authorAndAvatarOfReview svg{
 width: 30px;
 height: 30px;
}
.authorAndAvatarOfReview {
    display: flex;
    
    align-items: center;
}

.avatarOfAutorReview {
    width: auto;
   height: 35px;
   margin: 0;
   
    
    
    
}

.blockAvatarOfAutorReview {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 200px;
    display: flex;
    margin-right: 8px;
    justify-content: center;
    align-items: center;
}