.promo {
    border: none;
    border-radius: 1.5em;
    padding: 20px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
   
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: white;
    font-size: 2.2em;
    font-family: sans-serif;
    font-weight: 700;
    
}

.promo:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #99CCCD;
    z-index: -1;
    }
/* .promo * {
    position: relative;
    z-index: 1;
} */
.promo img {
    width: 270px;
}
