.card {
    box-shadow: 0 0 5px #2226;
    border-radius: 1em;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 300px;
    
}
.card__heart {
    position: absolute;
    top: .5em;
    right: 1em;
    color: crimson;

}
.cardsImage {
    height: 150px;
}
.productPrice {
margin-top: 10px;
}
.productDescriprion {
    color: rgba(0, 0, 0, 0.507);
    margin-top: 0px;
}

.productWight {
    color: rgba(0, 0, 0, 0.507);
    margin-top: 0px;
}