.card {
    box-shadow: 0 0 5px #2226;
    border-radius: 1em;
    padding: 1em;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 100px auto 30px 40px auto auto;
    grid-template-columns: 100%;
    position: relative;
    gap: 1em;
    justify-items: center;
    align-items: flex-start;
    
    height: 100%;
}


/* .card{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
} */

.card * {
    
    text-align: center;
}

.card >.btn {
    width: max-content;
}



.card__heart {
    position: absolute;
    top: .5em;
    right: 1em;
    color: crimson;

}
.cardsImage {
    height: 150px;
}
.productPrice {
margin-top: 10px;
}
.productDescriprion {
    color: rgba(0, 0, 0, 0.507);
    margin-top: 0px;
}

.productWight {
    color: rgba(0, 0, 0, 0.507);
    margin-top: 0px;
}