.card {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    border-radius: 0.6em;
    padding: 0.6em;
    /* box-sizing: border-box; */
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 100%;
    position: relative;
border: none;
    justify-items: center;
    /* align-items: flex-start; */
    
    height: 100%;
}

.productPriceAndWightInCard {
    display: flex;

    align-items: center;
    margin-bottom: 10px;
}
/* .card{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
} */

.card * {
    
    text-align: center;
}

.card >.btn {
    width: max-content;
}

.cardProductName {
    margin: 0;
    margin-bottom: 10px;
}

.card__heart {
    position: absolute;
    top: .5em;
    right: 1em;
    color: orange;

}
.cardsImage {
    height: 150px;
    margin: 0;
    margin-bottom: 5px;
}
.productPrice {
    margin: 0;
}


.productWight {
    color: rgba(0, 0, 0, 0.438);
    margin: 0px;
    margin-left: 16px;
}

/* .productDescriprion {
    color: rgba(0, 0, 0, 0.507);
    margin-top: 0px;
} */

#btnBuy {
padding: 18px 18px;
}


.card:hover {
    transform: scale(1.03,1.03);
    box-shadow: 0 0 10px rgba(34, 34, 34, 0.9);
    border: none;
}

.discountBlockRed {
    background-color: orange;
    color: white;
position: absolute;
left: 0.4em;
top: 0.4em;
border-radius: 0.6em;
}
.discountBlockRed p {
    margin: 0;
    padding: 4px 8px;
    font-size: 16px;
}
.productDiscountText {
 opacity: 0.3;
    text-decoration: line-through;
    margin-right: 10px;
    font-size: 1.1em;
}