.productPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: bisque; */
}
.productHName{
    margin-bottom: 20px;
}
.productImg {
    max-width: 360px;
    max-height: 400px;
}
.productArticle {
margin: 0;
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.8em;
    margin-bottom: 10px;
}
.productPageBlock{
    display: flex;
    gap: 80px;
    justify-content: center;
    
    align-items: center;
    
}
.productRightBlock{
    display: flex;
    
    flex-direction: column;
    
    /* background-color: #419494; */
    
    justify-content: center;
    align-self: center;
}

.productPriceBlock {
    margin: 0;
    display: flex;
flex-direction: column;
/* background-color: aquamarine; */
margin-left: 40px;

}

.productPriceBlock h2{
    margin-top: 0px;
    margin-bottom: 0px;
}
.productPriceBlock h3{
    margin-top: 0px;
    margin-bottom: 0px;
}

.productPriceBlock p{

    margin-bottom: 15px;
    
    opacity: 0.5;
}

.productDescriptionsBlock{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: start;
    margin: 0;
    margin-top: 25px;
    margin-left: 140px;
}

.productDescriptionsBlock h2{
    margin-top: 0px;
    margin-bottom: 0px;
}
.productDescriptionsBlock p{
    margin-top: 10px;
    margin-bottom: 0px;
    opacity: 0.5;
}


.productTopBlock {
    display: flex;
    flex-direction: column;
    margin-left: 140px;
}

.productTopBlock h1{
margin: 0;
margin-top: 40px;
margin-bottom: 10px;
}


.btnReturnInCatalog {
    color: #000;
}
.btnReturnInCatalog:hover{
    color: #419494;
}

.PriceBlockPriceAndDiscountPrice {

    display: flex;
    align-items: center;

}

.DiscountPriceInCard {
    opacity: 0.3;
    text-decoration: line-through;
margin-right: 15px;
    font-size: 1.4em;
}

.productLefttBlock {

    position: static;
}
.discountBlockRedInProductCard {
    position: relative;
    background-color: rgb(255, 115, 0);
    color: white;
    border-radius: 0.6em;
z-index: 10;
right: -20px;
top: 310px;
width: max-content;
display: flex;
justify-content: center;
align-items: center;
}

.discountBlockRedInProductCard p {
    margin: 0;
    padding: 4px 8px;
    font-size: 20px;
    
}

#btnBuyInProductCard {
 width: max-content;
 padding: 18px 26px;
}

.adsOne {

    margin-top: 40px;
    margin-bottom: 40px;
    
}
.adsOne P {
    margin: 0;
    opacity: 0.5;
}
.adsOne h6 {
    font-size: 1.1rem;
    margin: 0;
    margin-bottom: 10px;
}

.adsTwo P {
    margin: 0;
    opacity: 0.5;
}
.adsTwo h6 {
    font-size: 1.1rem;
    margin: 0;
    margin-bottom: 10px;
}

.adsTwo svg {
    width: 1.45em;
    height: auto;
    margin-right: 12px;

}

.adsOne svg {
    width: 1.5em;
    height: auto;
    margin-right: 12px;
}
.insideAdsBlockInProductCard {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
}


.reviews {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: start;
    margin: 0;
    margin-top: 15px;
    /* margin-left: 140px;
    margin-right: 140px; */
}

.reviewsVlockGridTest {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    align-content: center;
    padding: 0 140px;
  
   

}

#returnBottom{
    margin-top: 20px;
    margin-bottom: 20px;
}

#quantityReview {
    opacity: 0.5;
    margin-right: 20px;
}

.reviewsAndQuanity {
    display: flex;
    
}

.discontRedText{
    color: rgb(255, 115, 0);
}
.addReviewsInCard{
    margin-left: 140px;
}