header {
    background-color: #419494;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.logo {
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.search {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #222;
    outline: none;
}
.search:focus {
    border-bottom-color: #fff;
}
.menu {
    display: flex;
    gap: 1em;
    color: white;
}