header {
    background-color: #419494;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.logo {
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.search {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #222;
    outline: none;
    display: flex;
    align-items: center;
}
.search-block svg{

    display: flex;
    align-items: center;
}

.search:focus {
    border-bottom-color: #fff;
}
.menu {
    display: flex;
    gap: 1em;
    color: white;
}
.badge-link {
    position: relative;

}
.badge {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13px;
    height: 13px;
    font-size: 10px;
    position: absolute;
    bottom: -4px;
    right: -7px;
}