body {
    margin: 0;
    font-family: sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 100px auto 50px;
    font-family: sans-serif
}
.wrapper>* {
    padding: 0 calc(50% - 600px);
}
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    margin-bottom: 2em;
    margin-top: 2em;
    justify-content: center;
    align-items: stretch;
}
@media (max-width: 1260px) {
    .wrapper>* {
        padding: 0 30px;
    }
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

.imgInCard{
width: 240px;
}
.cardProduct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.cardProduct h2{
    margin-bottom: 0;
}
.cardProduct p{
    margin-bottom: 0;
    text-align: center;
}

.sqButton{
    background-color:#419494;
    color: white;
    font-size: 28px;
    margin: 10px;
    padding: 10px;
    border-radius: 3em;
    height: 60px;
    width: 270px;
    border: none;
    position: relative;
    font-weight: 600;
    margin-left: 80px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sqButton :hover {
    color: orange;
}


.UpBlock {
    background-color: none;
   display: flex;
   flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 1em;
    color:  rgb(255, 255, 255);
    margin-left: 0px;
   
}
.UpBlock h1 {
    margin: 5px;
    font-weight: 700;
    
}
.UpBlock p {
    font-weight: 0;
    margin: 5px;
    font-size: 20px;
    
}
.squImg {
    height: 160px;
    width: auto;
    margin-left: 30px;
    
}
.UpBlockSq {
    background-color: #99CCCD;
    display: flex;
    flex-direction: row row-reverse;
    border-radius: 3em;
    align-items: center;
    height: auto;
    width: auto;
    margin-top: 50px;
}
.empty-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    /* font-size: 2.5rem; */
    margin-top: 40px;
    height: 80%;
    justify-content: center;
}

/* .empty-block>*:not(svg) {
    font-size: 1rem;
} */
.empty-block svg {
    font-size: 2.5rem;
    fill: rgba(255, 166, 0);
}

/* search */
.empty-block .btn {
    border: 2px solid orange;
    border-radius: 10px;
    padding: 6px 12px;
    display: flex;
}



.form-preview {
    height: 106px;
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
}
#btnBuy {
    height: auto;
}
.btn:hover {
background-color: blue;
}

.profile-row {
display: flex;
align-items: center;
gap: 10px;
}
.profile-row svg{
    cursor: pointer;
    fill: rgb(161, 161, 161);
}

.profile-row svg:hover{
    cursor: pointer;
    fill: orange;
}

.profile-row input{
    max-width: 300px;
}

.btn.sort {
    background-color: #000000;
    color: orange;
}

